Package: ai.paisseon.peepreborn
Name: Peep Reborn
Author: Paisseon
Description: Hide status bar with a tap
Maintainer: Paisseon
Version: 1.1
Depends: firmware (>= 13.0), mobilesubstrate
Architecture: iphoneos-arm
Icon: https://paisseon.github.io/info/peepreborn.png
SileoDepiction: https://paisseon.github.io/info/peepreborn.json
Depiction: https://paisseon.github.io/info/peepreborn.html
