Package: lilliana.peepreborn
Name: Peep Reborn
Version: 0.0.3
Architecture: iphoneos-arm
Description: Hide your status bar with a tap
Maintainer: Paisseon
Author: Paisseon
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 13.0), preferenceloader
SileoDepiction: https://paisseon.github.io/depictions/PeepReborn.json
Depiction: https://pinpal.github.io/Sileo-Depiction-WebViews/?json=https://paisseon.github.io/depictions/PeepReborn.json&name=PeepReborn&dev=Paisseon
Icon: https://paisseon.github.io/icons/PeepReborn.png
